.header {
  display: flex;
  align-items: center;
  column-gap: 80%;
  margin-bottom: 24px;
  justify-content: space-between;
}

.menu_options {
  background-color: #13264a;
  background-size: cover;
  font-family: "inter";
  color: white;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 100%;
  padding: 2rem;
}

.closeButton {
  margin-bottom: 1rem;
}
.menu_options p {
  border-bottom: white 0.8px solid;
  margin-bottom: 16px;
  font-size: 1.5rem;
  margin-top: 0px;
  padding: 0px 0px 8px 0px;
}
.photo {
  background: linear-gradient(252.22deg, #16b5e8, #8f00ff);
  background-size: cover;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
