.header {
  display: flex;
  align-items: center;
  column-gap: 80%;
  margin-bottom: 24px;
  justify-content: space-between;
}

.menu_options {
  background-color: rgb(19, 9, 41);
  background-size: cover;
  font-family: "inter";
  color: white;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 100%;
  padding: 32px;
}

.menu_options p {
  border-bottom: white 0.8px solid;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 8px 0;
  margin-top: 8px;
  padding: 0px 0px 4px 0px;
}
.photo {
  background-image: url('https://img.freepik.com/free-vector/man-shows-gesture-great-idea_10045-637.jpg?w=740&t=st=1670206305~exp=1670206905~hmac=807c176fc79b6b7d5747e67045259ecd56cf7d51cf8fa6f0b875365232ca2f1e');
 background-size: cover;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
