.day{
    border: 1px solid rgba(204, 204, 204, 0.534);
    border-radius: 8px;
    margin-top: 12px;
    background: rgba(204, 204, 204, 0.144);
    color: white;
    padding: 12px 12px 12px 12px;
    
}