.card{
    border: 1px solid rgba(204, 204, 204, 0.534);
    border-radius: 8px;
    margin-top: 12px;
    background: rgba(255, 255, 255, 0.082);
    color: white;
    display: flex;
    padding: 12px 12px 12px 12px;
    justify-content: space-between; 

}
.left{
    display: flex;
    column-gap: 10px;
}
.img_url{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.name{
    font-size: 1rem;
    font-weight: 800;
}
.price{
    color: #16E844;
}