.card{
    margin-top: 48px;
}
.title{
color: white;
margin-bottom: 16px;
font-weight: 300;
font-size: 20px;

}

.map{
    border-radius: 0.25rem;
    border: none;
    border: 1px solid rgba(204, 204, 204, 0.534);
}