.title{
  color: white;
  font-weight: 300;
  font-size: 2rem;
  font-weight: 500;
}
.bryto{
  font-weight: 900;
  font-family: 'inter';
  background: linear-gradient(252.22deg, #16B5E8 37.86%, #8F00FF 88.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  
}
.day{
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 20px;
}
.crypto_market{
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}