.title{
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  font-weight: 500;
}
.bryto{
  font-weight: 900;
  font-family: 'inter';
  background-image: linear-gradient(to bottom, #16B5E8, steelblue, #8F00FF);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: black;
}
.day{
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 20px;
}
.crypto_market{
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 30px;
}