.card{
    margin-top: 96px;
}
.portfolio{
    border: 1px solid rgba(204, 204, 204, 0.534);
    border-radius: 8px;
    margin-top: 12px;
    background: rgba(240, 240, 240, 0.041);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 12px 12px 12px 12px;
    position: relative;
}
.title{
    color: white;
    font-weight: 400;
    font-size: 16px;

}
.line{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    border-bottom: #5A5A5A 0.8px solid;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 4px 0;
}
.line p{
    padding: 0px 0px 8px 0px;
    color: #B2ACB2;
    
}
.line span{
    color: white;
}
.line_last{
    display: flex;
    justify-content: space-between;
    font-size: 15px; 
}
.line_last{
    color: #B2ACB2;
    
}
.activate{
    color: #16E844;
}